<%- include('partials/header') %>

<h1 class="centered">
<div class="view">
        <%= question %> 
</div>
</h1>
<h2 class="centered">
<a class="heading" href="/<%=user%>"><%=user%></a>
</h2>
<p class="centered">
    
    Answer:
    <%= answer %> 
</p>
<p class="centered">
<a class="posts" style="size: 12px; color: #A683E3"  href="/sign-up">Create your own</a>
</p>
<%- include('partials/footer') %>