<%- include('partials/header') %>

<h1 class="centered">
<div class="view">
<a class="heading" href="/<%=user%>/view"> <%=user%> </a>
</div>
</h1>
<p class="centered">
<a class="posts" href="/<%=user%>/logout">logout</a>
</p>
<p class="centered">
<a class="posts" href="/<%=user%>">See What Others see</a>
</p>
<%- include('partials/footer') %>
